# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Debug
Release
cmake-build-debug
*.log

# Project files
.vs
*.db
*.opendb
*.opensdf
*.sdf
.suo
*.un~
.DS_STORE
.idea
*.aps
*.ini
ipch/
*.code-workspace

# Java Project ignore
target
.settings
.idea
*.iml
.classpath
.project
.log
journal
snapshots
build
*.bin
.gradle

# Others
*.pkc
path to the Lib folder

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
*.gz

# packages
/cpp/test/d3d/packages

# white list
!java/jna/jni-example/src/main/resources/*
!java/netty-sample/src/main/resources/*

# Qt 
*.creator.user*
*.pro.user*
*.pyqtc.user*
*.qbs.user*
*.qmlproject.user*
build-*Qt*/
